<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">
<title>
    <%= game.name %> by <%= game.creator.name %> - ROBLOX Places
</title>
<link id="ctl00_Imports" rel="stylesheet" type="text/css" href="/AllCSS.css">
<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="en-us">
<meta name="author" content="ROBLOX Corporation">
<meta name="description" content="ROBLOX is SAFE for kids! ROBLOX is a FREE casual virtual world with fully constructible/desctructible 3D environments and immersive physics. Build, battle, chat, or just hang out.">
<meta name="keywords" content="game, video game, building game, construction game, online game, LEGO game, LEGO, MMO, MMORPG, rowblocks, rowbloks, roblocks, robloks, roblocs, roblok">

</head>

<body>
    <!-- BEGIN WAYBACK TOOLBAR INSERT -->

    <form name="aspnetForm" method="post" action="Item.aspx?ID=3589278" id="aspnetForm">

        <div id="Container">

            <div id="Body">

                <div id="ItemContainer">
                    <div id="Item">
                        <h2><%= game.name %></h2>
                        <div id="Details">

                            <div id="Thumbnail_Place">
                                <a id="ctl00_cphRoblox_AssetThumbnailImage_Place" disabled="disabled" title="<%= game.name %>" onclick="return false" style="display:inline-block;"><img src="<%= game.picture %>" border="0" alt="<%= game.name %>"></a>
                            </div>
                            <div id="Actions_Place">
                                <a id="ctl00_cphRoblox_FavoriteThisPlaceButton" disabled="disabled">Favorite</a>
                            </div>
                            <div id="ctl00_cphRoblox_PlayGames" class="PlayGames">
                                <div style="text-align: center; margin: 1em 5px;">
                                    <span id="ctl00_cphRoblox_PlaceAccessIndicator_FriendsOnlyLocked" style="display: none"><img id="ctl00_cphRoblox_PlaceAccessIndicator_iFriendsOnly_Locked" src="/locked.png" alt="Locked" border="0">&nbsp;Friends-only</span>
                                    <span id="ctl00_cphRoblox_PlaceAccessIndicator_FriendsOnlyUnlocked" style="display: none"><img id="ctl00_cphRoblox_PlaceAccessIndicator_iFriendsOnly_Unlocked" src="/unlocked.png" alt="Unlocked" border="0">&nbsp;Friends-only: You have access</span>
                                    <span id="ctl00_cphRoblox_PlaceAccessIndicator_Public" style="display:inline;"><img id="ctl00_cphRoblox_PlaceAccessIndicator_iPublic" src="/public.png" alt="Public" border="0">&nbsp;Public</span>

                                    <img id="ctl00_cphRoblox_CopyLockedIcon" src="/CopyLocked.png" alt="CopyLocked" border="0"> Copy Protection: CopyLocked
                                </div>

                                
                                <input type="hidden" name="ctl00$cphRoblox$VisitButtons$ClientInstaller$HiddenField1" id="ctl00_cphRoblox_VisitButtons_ClientInstaller_HiddenField1">

                                <div id="ctl00_cphRoblox_VisitButtons_OldButtons">

                                    <div id="ctl00_cphRoblox_VisitButtons_VisitMPButton" style="display: inline">
                                        <input type="submit" name="ctl00$cphRoblox$VisitButtons$MultiplayerVisitButton" value="Visit Online" onclick='window.location.href = "https://finobe.com"' class="Button">
                                    </div>
                                    <div id="ctl00_cphRoblox_VisitButtons_VisitButton" style="display: inline">
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="submit" name="ctl00$cphRoblox$VisitButtons$SoloVisitButton" value="Visit Solo" onclick='window.location.href = "https://finobe.com"' id="ctl00_cphRoblox_VisitButtons_SoloVisitButton" class="Button">
                                    </div>

                                </div>

                            </div>

                            <div id="Summary">
                                <h3>ROBLOX Place</h3>

                                <div id="Creator" class="Creator">
                                    <div class="Avatar">
                                        <a id="ctl00_cphRoblox_AvatarImage" title="<%= game.creator.name %>" href="/User.aspx?ID=<%= game.creator.id %>" style="display:inline-block;cursor:pointer;"><img src="<%= game.creator.picture %>" border="0" alt="<%= game.creator.name %>" blankurl="http://t6.roblox.com:80/blank-100x100.gif"></a>
                                    </div>
                                    Creator: <a id="ctl00_cphRoblox_CreatorHyperLink" href="User.aspx?ID=<%= game.creator.id %>"><%= game.creator.name %></a>
                                </div>
                                <div id="LastUpdate">Updated: <%= game.updated %></div>
                                <div id="Favorited">Favorited: <%= game.favorites %> times</div>
                                <div id="ctl00_cphRoblox_VisitedPanel" class="Visited">Visited: <%= game.visits %> times</div>
                                <div id="ctl00_cphRoblox_DescriptionPanel">

                                    <div id="DescriptionLabel">Description:</div>
                                    <div id="Description"><%= game.description %></div>

                                </div>
                                <div id="ReportAbuse">
                                    <div id="ctl00_cphRoblox_AbuseReportButton1_AbuseReportPanel" class="ReportAbusePanel">

                                        <span class="AbuseIcon"><a id="ctl00_cphRoblox_AbuseReportButton1_ReportAbuseIconHyperLink" ><img src="/abuse.png" alt="Report Abuse" border="0"></a></span>
                                        <span class="AbuseButton"><a id="ctl00_cphRoblox_AbuseReportButton1_ReportAbuseTextHyperLink" href="">Report Abuse</a></span>

                                    </div>
                                </div>
                            </div>

                            <div style="clear: both;"></div>
                        </div>
                        <div style="margin: 10px; width: 703px;">
                            <div class="ajax__tab_xp" id="ctl00_cphRoblox_TabbedInfo">
                                <div id="ctl00_cphRoblox_TabbedInfo_header">
                                    <span id="__tab_ctl00_cphRoblox_TabbedInfo_GamesTab">
                                <h3>Games</h3>
                            </span><span id="__tab_ctl00_cphRoblox_TabbedInfo_CommentaryTab">
                                <h3>Commentary</h3>
                            </span>
                                </div>
                                <div id="ctl00_cphRoblox_TabbedInfo_body">
                                    <div id="ctl00_cphRoblox_TabbedInfo_GamesTab">

                                        <div id="ctl00_cphRoblox_TabbedInfo_GamesTab_RunningGamesUpdatePanel">

                                            <table>

                                                <tbody>
                                                    <tr>

                                                        <td valign="top" width="150px">
                                                            <p>
                                                                1 of 8 players max<br>
                                                                <br> &nbsp;

                                                            </p>
                                                            <br>
                                                        </td>
                                                        <td valign="top">

                                                            <br>
                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>

                                            <div class="FooterPager" style="text-align: center;">
                                                <span id="ctl00_cphRoblox_TabbedInfo_GamesTab_RunningGamesDataPager_Footer"><a disabled="disabled">First</a>&nbsp;<a disabled="disabled">Previous</a>&nbsp;<span>1</span>&nbsp;<a disabled="disabled">Next</a>&nbsp;<a disabled="disabled">Last</a>&nbsp;</span>
                                            </div>
                                            <div class="RefreshRunningGames">
                                                <input type="submit" name="ctl00$cphRoblox$TabbedInfo$GamesTab$RefreshRunningGamesButton" value="Refresh" id="ctl00_cphRoblox_TabbedInfo_GamesTab_RefreshRunningGamesButton" class="Button">
                                            </div>

                                        </div>

                                    </div>
                                    <div id="ctl00_cphRoblox_TabbedInfo_CommentaryTab">

                                        <div id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsUpdatePanel">

                                            <div class="CommentsContainer">

                                                <h3>Comments (?)</h3>
                                                <div id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl00_HeaderPagerPanel" class="HeaderPager">

                                                    <span id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl00_HeaderPagerLabel">Page 1 of 5</span>
                                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl00_HeaderPageSelector_Next" href="javascript:__doPostBack('ctl00$cphRoblox$TabbedInfo$CommentaryTab$CommentsPane$CommentsRepeater$ctl00$HeaderPageSelector_Next','')">Next <span class="NavigationIndicators">&gt;&gt;</span></a>
                                                </div>
                                                <div class="Comments">
                                                    <% game.comments.forEach(function(comment){ %>
                                                    <div class="Comment">
                                                        <div class="Commenter">
                                                            <div class="Avatar">
                                                                <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl01_AvatarImage" title="<%= comment.author.name %>" href="/User.aspx?ID=<%= comment.author.id %>" style="display:inline-block;cursor:pointer;"><img src="<%= comment.author.picture %>" border="0" alt="<%= comment.author.name %>"></a>
                                                            </div>
                                                        </div>
                                                        <div class="Post">
                                                            <div class="Audit">
                                                                Posted <%= comment.time %> by
                                                                <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl01_UsernameHyperLink" href="User.aspx?ID=<%= comment.author.id %>"><%= comment.author.name %></a>
                                                            </div>
                                                            <div class="Content"><%= comment.content %>

                                                        </div>
                                                        <div style="clear: both;"></div>
                                                    </div>
                                                    

                                                </div>
                                                <% }); %>
                                            </div>
                                                <div id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl11_FooterPagerPanel" class="FooterPager">

                                                    <span id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl11_FooterPagerLabel">Page 1 of 5</span>
                                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl11_FooterPageSelector_Next" href="javascript:__doPostBack('ctl00$cphRoblox$TabbedInfo$CommentaryTab$CommentsPane$CommentsRepeater$ctl11$FooterPageSelector_Next','')">Next <span class="NavigationIndicators">&gt;&gt;</span></a>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="clear: both;">
                    </div>

                    <div id="ctl00_cphRoblox_ItemPurchasePopupPanel" class="modalPopup" style="display: none">

                        <div id="ctl00_cphRoblox_ItemPurchasePopupUpdatePanel">

                        </div>

                    </div>

                    <input type="hidden" name="ctl00$cphRoblox$HiddenField1" id="ctl00_cphRoblox_HiddenField1">
                    <input type="hidden" name="ctl00$cphRoblox$HiddenField2" id="ctl00_cphRoblox_HiddenField2">
                    <input type="hidden" name="ctl00$cphRoblox$HiddenField3" id="ctl00_cphRoblox_HiddenField3">

                </div>

            </div>

  

        

            <!--
         FILE ARCHIVED ON 20:29:10 Aug 24, 2008 AND RETRIEVED FROM THE
         INTERNET ARCHIVE ON 16:06:23 Nov 23, 2019.
         JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
    
         ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
         SECTION 108(a)(3)).
    -->
            <!--
    playback timings (ms):
      exclusion.robots.policy: 0.221
      load_resource: 129.458
      esindex: 0.016
      PetaboxLoader3.resolve: 108.421
      captures_list: 123.75
      PetaboxLoader3.datanode: 96.321 (4)
      CDXLines.iter: 15.359 (3)
      LoadShardBlock: 101.991 (3)
      exclusion.robots: 0.238
      RedisCDXSource: 1.954
    -->
        </div>
    </form>
</body>

</html>