<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">
<!-- MachineID: App1 -->

<head>
    <title>
        <%= user.name %>'s ROBLOX Home Page
    </title>
    <link id="ctl00_Imports" rel="stylesheet" type="text/css" href="/AllCSS.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="author" content="ROBLOX Corporation">
    <meta name="description" content="<%= user.description %>">
    <meta name="keywords"
        content="game, video game, building game, construction game, online game, LEGO game, LEGO, MMO, MMORPG, rowblocks, rowbloks, roblocks, robloks, roblocs, roblok">

    <meta name="title" content="<%= user.name %>">
    <%- include ../partials/scripts -%>
</head>

<body>







    <form name="aspnetForm" method="post" id="aspnetForm">

        <div id="Container">

            <%- include ../partials/header -%>

            <div id="Body">


                <div id="UserContainer">
                    <div id="LeftBank">
                        <div id="ProfilePane">

                            <table width="100%" bgcolor="lightsteelblue" cellpadding="6" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span id="ctl00_cphRoblox_rbxUserPane_lUserName"
                                                class="Title"><%= user.name %></span><br>
                                            <span id="ctl00_cphRoblox_rbxUserPane_lUserOnlineStatus"
                                                class="UserOfflineMessage"><%= user.status %></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="ctl00_cphRoblox_rbxUserPane_lUserRobloxURL"><%= user.name %>'s
                                                ROBLOX:</span><br>
                                            <a
                                                id="ctl00_cphRoblox_rbxUserPane_hlUserRobloxURL"><%= window.location.href %></a><br>
                                            <br>
                                            <div style="left: 0px; float: left; position: relative; top: 0px">
                                                <a id="ctl00_cphRoblox_rbxUserPane_Image1" disabled="disabled"
                                                    title="<%= user.name %>" onclick="return false"
                                                    style="display:inline-block;"><img
                                                        src="https://web.archive.org/web/20080824061749im_/http://t6.roblox.com:80/e6bd21a30f9020dbc75511542a986bfc"
                                                         alt="<%= user.name %>"
                                                        ></a><br>
                                                <div id="ctl00_cphRoblox_rbxUserPane_AbuseReportButton1_AbuseReportPanel"
                                                    class="ReportAbusePanel">

                                                    <span class="AbuseIcon"><a
                                                            id="ctl00_cphRoblox_rbxUserPane_AbuseReportButton1_ReportAbuseIconHyperLink"
                                                            href="AbuseReport/UserProfile.aspx?userID=156&amp;ReturnUrl=http%3a%2f%2fwww.roblox.com%2fUser.aspx%3fID%3d156"><img
                                                                src="/web/20080824061749im_/http://www.roblox.com/images/abuse.PNG"
                                                                alt="Report Abuse" ></a></span>
                                                    <span class="AbuseButton"><a
                                                            id="ctl00_cphRoblox_rbxUserPane_AbuseReportButton1_ReportAbuseTextHyperLink"
                                                            href="AbuseReport/UserProfile.aspx?userID=156&amp;ReturnUrl=http%3a%2f%2fwww.roblox.com%2fUser.aspx%3fID%3d156">Report
                                                            Abuse</a></span>

                                                </div>
                                            </div>



                                            <p></p>
                                            <p></p>
                                            <p><span
                                                    id="ctl00_cphRoblox_rbxUserPane_rbxPublicUser_lBlurb"><%= user.description %></span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="UserBadgesPane">


                            <div id="UserBadges">
                                <h4><a id="ctl00_cphRoblox_rbxUserBadgesPane_hlHeader" href="Badges.aspx">Badges</a>
                                </h4>
                                <table id="ctl00_cphRoblox_rbxUserBadgesPane_dlBadges" cellspacing="0" align="Center"
                                    >
                                    <tbody>
                                        <% for(var row = 0; row < 2; row++) { %>
                                        <tr>
                                            <% for(var col = 0; col < 3; col++) { %>
                                            <td>
                                                <div class="Badge">
                                                    <div class="BadgeImage"><a
                                                            id="ctl00_cphRoblox_rbxUserBadgesPane_dlBadges_ctl00_hlHeader"
                                                            href="Badges.aspx"><img
                                                                id="ctl00_cphRoblox_rbxUserBadgesPane_dlBadges_ctl00_iBadge"
                                                                src="<%= badgeimage[user.badges[row+col]] %>"
                                                                alt=<%= badgealt[user.badges[row+col]] %> height="75"
                                                                ></a></div>
                                                    <div class="BadgeLabel"><a
                                                            id="ctl00_cphRoblox_rbxUserBadgesPane_dlBadges_ctl00_HyperLink1"
                                                            href="Badges.aspx">user.badges[row+col]</a></div>
                                                </div>
                                            </td>
                                            <% } %>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div id="UserStatisticsPane">


                            <div id="UserStatistics">
                                <h4>Statistics</h4>
                                <div class="Statistic">
                                    <div class="Label"><acronym
                                            title="The number of this user's friends.">Friends</acronym>:</div>
                                    <div class="Value"><span
                                            id="ctl00_cphRoblox_rbxUserStatisticsPane_lFriendsStatistics"><%= user.friends_count %></span>
                                    </div>
                                </div>

                                <div class="Statistic">
                                    <div class="Label"><acronym
                                            title="The number of posts this user has made to the ROBLOX forum.">Forum
                                            Posts</acronym>:</div>
                                    <div class="Value"><span
                                            id="ctl00_cphRoblox_rbxUserStatisticsPane_lForumPostsStatistics"><%= user.forum_posts %></span>
                                    </div>
                                </div>
                                <div class="Statistic">
                                    <div class="Label"><acronym
                                            title="The number of times this user's profile has been viewed.">Profile
                                            Views</acronym>:</div>
                                    <div class="Value"><span
                                            id="ctl00_cphRoblox_rbxUserStatisticsPane_lProfileViewsStatistics"><%= user.profile_views %></span>
                                    </div>
                                </div>
                                <div class="Statistic">
                                    <div class="Label"><acronym
                                            title="The number of times this user's place has been visited.">Place
                                            Visits</acronym>:</div>
                                    <div class="Value"><span
                                            id="ctl00_cphRoblox_rbxUserStatisticsPane_lPlaceVisitsStatistics"><%= user.place_visits %></span>
                                    </div>
                                </div>
                                <div class="Statistic">
                                    <div class="Label"><acronym
                                            title="The number of times this user's character has destroyed another user's character in-game.">Knockouts</acronym>:
                                    </div>
                                    <div class="Value"><span
                                            id="ctl00_cphRoblox_rbxUserStatisticsPane_lKillsStatistics"><%= user.knockouts %></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="RightBank">
                        <div id="UserPlacesPane">

                            <div id="UserPlaces">
                                <h4>Showcase</h4>
                                <div id="ctl00_cphRoblox_rbxUserPlacesPane_ShowcasePlacesAccordion">

                                    <div class="AccordionHeader">

                                        Builderman's Hotel - Newly Remodeled Check It Out

                                    </div>
                                    <div style="display:block;">



                                        <div class="Place">
                                            <div class="PlayStatus">
                                                <span
                                                    id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_rbxPlaceAccessIndicator_FriendsOnlyLocked"
                                                    style="display: none"><img
                                                        id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_rbxPlaceAccessIndicator_iFriendsOnly_Locked"
                                                        src="/web/20080824061749im_/http://www.roblox.com/images/locked.png"
                                                        alt="Locked" >&nbsp;Friends-only</span>
                                                <span
                                                    id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_rbxPlaceAccessIndicator_FriendsOnlyUnlocked"
                                                    style="display: none"><img
                                                        id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_rbxPlaceAccessIndicator_iFriendsOnly_Unlocked"
                                                        src="/web/20080824061749im_/http://www.roblox.com/images/unlocked.png"
                                                        alt="Unlocked" >&nbsp;Friends-only: You have
                                                    access</span>
                                                <span
                                                    id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_rbxPlaceAccessIndicator_Public"
                                                    style="display:inline;"><img
                                                        id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_rbxPlaceAccessIndicator_iPublic"
                                                        src="/web/20080824061749im_/http://www.roblox.com/images/public.png"
                                                        alt="Public" >&nbsp;Public</span>

                                            </div>
                                            <br>
                                            <div class="PlayOptions">


                                                <div
                                                    id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_rbxVisitButtons_OldButtons">

                                                    <div id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_rbxVisitButtons_VisitMPButton"
                                                        style="display: inline">
                                                        <input type="submit"
                                                            name="ctl00$cphRoblox$rbxUserPlacesPane$ctl02$rbxPlatform$rbxVisitButtons$MultiplayerVisitButton"
                                                            value="Visit Online"
                                                            onclick="return Roblox.Client.WaitForRoblox(function() { window.location = '/Login/Default.aspx?ReturnUrl=http%3a%2f%2fwww.roblox.com%2fUser.aspx%3fID%3d156' });"
                                                            id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_rbxVisitButtons_MultiplayerVisitButton"
                                                            class="Button">
                                                    </div>
                                                    <div id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_rbxVisitButtons_VisitButton"
                                                        style="display: inline">
                                                        &nbsp;&nbsp;&nbsp;
                                                        <input type="submit"
                                                            name="ctl00$cphRoblox$rbxUserPlacesPane$ctl02$rbxPlatform$rbxVisitButtons$SoloVisitButton"
                                                            value="Visit Solo"
                                                            onclick="return Roblox.Client.WaitForRoblox(function() { window.location = '/Login/Default.aspx?ReturnUrl=http%3a%2f%2fwww.roblox.com%2fUser.aspx%3fID%3d156' });"
                                                            id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_rbxVisitButtons_SoloVisitButton"
                                                            class="Button">
                                                    </div>



                                                </div>


                                            </div>
                                            <div class="Statistics">
                                                <span
                                                    id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_lStatistics">Visited
                                                    130,265 times (6,586 last week)</span></div>
                                            <div class="Thumbnail">
                                                <a id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_rbxPlaceThumbnail"
                                                    disabled="disabled"
                                                    title="Builderman's Hotel - Newly Remodeled Check It Out"
                                                    href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=515406"
                                                    style="display:inline-block;"><img
                                                        src="https://web.archive.org/web/20080824061749im_/http://t3.roblox.com:80/e8fe737528a77b36eb12a5aee9dbadc0"
                                                        
                                                        alt="Builderman's Hotel - Newly Remodeled Check It Out"></a>
                                            </div>
                                            <div id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_pDescription">

                                                <div class="Description">
                                                    <span
                                                        id="ctl00_cphRoblox_rbxUserPlacesPane_ctl02_rbxPlatform_lDescription">**
                                                        There are no prizes from this place. ** Check out
                                                        http://wiki.roblox.com/index.php?title=Builderman_Suite_Hotel%28Guide_and_FAQ%29
                                                        for more info. Welcome to Builderman Suite Hotel! Come on in and
                                                        get yourself a room. Work jobs! And pay no attention to those
                                                        wild rumours about the "10 Lost Orbs". Designed by weaselman50,
                                                        built by Totti, mjt510, chess123mate, ganondude, Kaelin,
                                                        weaselman50, and Cybersword </span>
                                                </div>

                                            </div>

                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>
                        <div id="FriendsPane">


                            <div id="Friends">
                                <h4>builderman's Friends <a href="Friends.aspx?UserID=156">See all</a></h4>

                                <table id="ctl00_cphRoblox_rbxFriendsPane_dlFriends" cellspacing="0" align="Center"
                                    >
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="Friend">
                                                    <div class="Avatar"><a
                                                            id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl00_hlAvatar"
                                                            title="foreverforgotten"
                                                            href="/web/20080824061749/http://www.roblox.com/User.aspx?ID=4711"
                                                            style="display:inline-block;cursor:pointer;"><img
                                                                src="https://web.archive.org/web/20080824061749im_/http://t5.roblox.com:80/Avatar-100x100-b92c3b56b4b5c1cf90dc68747bf7d40e.Png"
                                                                 alt="foreverforgotten"
                                                                ></a>
                                                    </div>
                                                    <div class="Summary">
                                                        <span class="OnlineStatus"><img
                                                                id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl00_iOnlineStatus"
                                                                src="/web/20080824061749im_/http://www.roblox.com/images/OnlineStatusIndicator_IsOffline.gif"
                                                                alt="foreverforgotten is offline (last seen at 8/1/2007 2:24:00 PM)."
                                                                ></span>
                                                        <span class="Name"><a
                                                                id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl00_hlFriend"
                                                                href="User.aspx?ID=4711">foreverforgotten</a></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="Friend">
                                                    <div class="Avatar"><a
                                                            id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl01_hlAvatar"
                                                            title="yo suka"
                                                            href="/web/20080824061749/http://www.roblox.com/User.aspx?ID=4712"
                                                            style="display:inline-block;cursor:pointer;"><img
                                                                src="https://web.archive.org/web/20080824061749im_/http://t2.roblox.com:80/139ad0f1c99eabe5d5df655b9d0769f5"
                                                                 alt="yo suka"
                                                                ></a>
                                                    </div>
                                                    <div class="Summary">
                                                        <span class="OnlineStatus"><img
                                                                id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl01_iOnlineStatus"
                                                                src="/web/20080824061749im_/http://www.roblox.com/images/OnlineStatusIndicator_IsOffline.gif"
                                                                alt="yo suka is offline (last seen at 8/6/2008 10:28:43 AM)."
                                                                ></span>
                                                        <span class="Name"><a
                                                                id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl01_hlFriend"
                                                                href="User.aspx?ID=4712">yo suka</a></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="Friend">
                                                    <div class="Avatar"><a
                                                            id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl02_hlAvatar"
                                                            title="Telamon"
                                                            href="/web/20080824061749/http://www.roblox.com/User.aspx?ID=261"
                                                            style="display:inline-block;cursor:pointer;"><img
                                                                src="https://web.archive.org/web/20080824061749im_/http://t2.roblox.com:80/cec596b3ebdb0b809984825fec9b0c92"
                                                                 alt="Telamon"
                                                                ></a>
                                                    </div>
                                                    <div class="Summary">
                                                        <span class="OnlineStatus"><img
                                                                id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl02_iOnlineStatus"
                                                                src="/web/20080824061749im_/http://www.roblox.com/images/OnlineStatusIndicator_IsOffline.gif"
                                                                alt="Telamon is offline (last seen at 8/23/2008 2:14:08 PM)."
                                                                ></span>
                                                        <span class="Name"><a
                                                                id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl02_hlFriend"
                                                                href="User.aspx?ID=261">Telamon</a></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="Friend">
                                                    <div class="Avatar"><a
                                                            id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl03_hlAvatar"
                                                            title="doctorwho1216"
                                                            href="/web/20080824061749/http://www.roblox.com/User.aspx?ID=418"
                                                            style="display:inline-block;cursor:pointer;"><img
                                                                src="https://web.archive.org/web/20080824061749im_/http://t4.roblox.com:80/3dd7e507552e628be1f2481568cabd56"
                                                                 alt="doctorwho1216"
                                                                ></a>
                                                    </div>
                                                    <div class="Summary">
                                                        <span class="OnlineStatus"><img
                                                                id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl03_iOnlineStatus"
                                                                src="/web/20080824061749im_/http://www.roblox.com/images/OnlineStatusIndicator_IsOffline.gif"
                                                                alt="doctorwho1216 is offline (last seen at 8/23/2008 10:59:53 PM)."
                                                                ></span>
                                                        <span class="Name"><a
                                                                id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl03_hlFriend"
                                                                href="User.aspx?ID=418">doctorwho1216</a></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="Friend">
                                                    <div class="Avatar"><a
                                                            id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl04_hlAvatar"
                                                            title="Matt Dusek"
                                                            href="/web/20080824061749/http://www.roblox.com/User.aspx?ID=916"
                                                            style="display:inline-block;cursor:pointer;"><img
                                                                src="https://web.archive.org/web/20080824061749im_/http://t0.roblox.com:80/17d00e713bf8e2fef32bbaf7dc440b96"
                                                                 alt="Matt Dusek"
                                                                ></a>
                                                    </div>
                                                    <div class="Summary">
                                                        <span class="OnlineStatus"><img
                                                                id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl04_iOnlineStatus"
                                                                src="/web/20080824061749im_/http://www.roblox.com/images/OnlineStatusIndicator_IsOffline.gif"
                                                                alt="Matt Dusek is offline (last seen at 8/20/2008 7:46:39 PM)."
                                                                ></span>
                                                        <span class="Name"><a
                                                                id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl04_hlFriend"
                                                                href="User.aspx?ID=916">Matt Dusek</a></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="Friend">
                                                    <div class="Avatar"><a
                                                            id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl05_hlAvatar"
                                                            title="lile619"
                                                            href="/web/20080824061749/http://www.roblox.com/User.aspx?ID=4713"
                                                            style="display:inline-block;cursor:pointer;"><img
                                                                src="https://web.archive.org/web/20080824061749im_/http://t6.roblox.com:80/Avatar-100x100-e0cd27a64d65dd27036bee253d75630a.Png"
                                                                 alt="lile619"
                                                                ></a>
                                                    </div>
                                                    <div class="Summary">
                                                        <span class="OnlineStatus"><img
                                                                id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl05_iOnlineStatus"
                                                                src="/web/20080824061749im_/http://www.roblox.com/images/OnlineStatusIndicator_IsOffline.gif"
                                                                alt="lile619 is offline (last seen at 9/28/2006 5:36:18 PM)."
                                                                ></span>
                                                        <span class="Name"><a
                                                                id="ctl00_cphRoblox_rbxFriendsPane_dlFriends_ctl05_hlFriend"
                                                                href="User.aspx?ID=4713">lile619</a></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div id="FavoritesPane">
                            <div id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesPane">

                                <div id="Favorites">
                                    <h4>Favorites</h4>
                                    <div id="FavoritesContent">
                                        <div id="ctl00_cphRoblox_rbxFavoritesPane_HeaderPagerPanel" class="HeaderPager">

                                            <span id="ctl00_cphRoblox_rbxFavoritesPane_HeaderPagerLabel">Page 1 of
                                                2</span>
                                            <a id="ctl00_cphRoblox_rbxFavoritesPane_HeaderPageSelector_Next"
                                                href="javascript:__doPostBack('ctl00$cphRoblox$rbxFavoritesPane$HeaderPageSelector_Next','')">Next
                                                <span class="NavigationIndicators">&gt;&gt;</span></a>
                                        </div>
                                        <table id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList" cellspacing="0"
                                            >
                                            <tbody>
                                                <tr>
                                                    <td class="Asset" valign="top">
                                                        <div style="padding:5px">
                                                            <div class="AssetThumbnail">
                                                                <a id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl00_AssetThumbnailHyperLink"
                                                                    title="ROBLOX Spanish Tutorial/Tutorial ROBLOX Español"
                                                                    href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=3589278"
                                                                    style="display:inline-block;cursor:pointer;"><img
                                                                        src="https://web.archive.org/web/20080824061749im_/http://t1.roblox.com:80/a4646b48d95dea91daa9ea24055caaa4"
                                                                        
                                                                        alt="ROBLOX Spanish Tutorial/Tutorial ROBLOX Español"></a>

                                                            </div>
                                                            <div class="AssetDetails">
                                                                <div class="AssetName"><a
                                                                        id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl00_AssetNameHyperLink"
                                                                        href="Item.aspx?ID=3589278">ROBLOX Spanish
                                                                        Tutorial/Tutorial ROBLOX Español</a></div>
                                                                <div class="AssetCreator"><span
                                                                        class="Label">Creator:</span> <span
                                                                        class="Detail"><a
                                                                            id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl00_AssetCreatorHyperLink"
                                                                            href="User.aspx?ID=847130">SpanishTutorial</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="Asset" valign="top">
                                                        <div style="padding:5px">
                                                            <div class="AssetThumbnail">
                                                                <a id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl01_AssetThumbnailHyperLink"
                                                                    title="Tutorial City (BETA: 63%, Brick Regen Button)"
                                                                    href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=2373367"
                                                                    style="display:inline-block;cursor:pointer;"><img
                                                                        src="https://web.archive.org/web/20080824061749im_/http://t4.roblox.com:80/bfa3889ae280bd76ba5f72bc4e0cd351"
                                                                        
                                                                        alt="Tutorial City (BETA: 63%, Brick Regen Button)"></a>

                                                            </div>
                                                            <div class="AssetDetails">
                                                                <div class="AssetName"><a
                                                                        id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl01_AssetNameHyperLink"
                                                                        href="Item.aspx?ID=2373367">Tutorial City (BETA:
                                                                        63%, Brick Regen Button)</a></div>
                                                                <div class="AssetCreator"><span
                                                                        class="Label">Creator:</span> <span
                                                                        class="Detail"><a
                                                                            id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl01_AssetCreatorHyperLink"
                                                                            href="User.aspx?ID=505113">Tutorials</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="Asset" valign="top">
                                                        <div style="padding:5px">
                                                            <div class="AssetThumbnail">
                                                                <a id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl02_AssetThumbnailHyperLink"
                                                                    title="Tutorial for all people read descreption"
                                                                    href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=502311"
                                                                    style="display:inline-block;cursor:pointer;"><img
                                                                        src="https://web.archive.org/web/20080824061749im_/http://t2.roblox.com:80/2be4083498414fb5858fe562153b25f1"
                                                                        
                                                                        alt="Tutorial for all people read descreption"></a>

                                                            </div>
                                                            <div class="AssetDetails">
                                                                <div class="AssetName"><a
                                                                        id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl02_AssetNameHyperLink"
                                                                        href="Item.aspx?ID=502311">Tutorial for all
                                                                        people read descreption</a></div>
                                                                <div class="AssetCreator"><span
                                                                        class="Label">Creator:</span> <span
                                                                        class="Detail"><a
                                                                            id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl02_AssetCreatorHyperLink"
                                                                            href="User.aspx?ID=243732">zerox56</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="Asset" valign="top">
                                                        <div style="padding:5px">
                                                            <div class="AssetThumbnail">
                                                                <a id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl03_AssetThumbnailHyperLink"
                                                                    title="Roblox Tutorial (Better then other 1)"
                                                                    href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=2490349"
                                                                    style="display:inline-block;cursor:pointer;"><img
                                                                        src="https://web.archive.org/web/20080824061749im_/http://t2.roblox.com:80/8fba1d38d300b530dd83adae82a042ca"
                                                                        
                                                                        alt="Roblox Tutorial (Better then other 1)"></a>

                                                            </div>
                                                            <div class="AssetDetails">
                                                                <div class="AssetName"><a
                                                                        id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl03_AssetNameHyperLink"
                                                                        href="Item.aspx?ID=2490349">Roblox Tutorial
                                                                        (Better then other 1)</a></div>
                                                                <div class="AssetCreator"><span
                                                                        class="Label">Creator:</span> <span
                                                                        class="Detail"><a
                                                                            id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl03_AssetCreatorHyperLink"
                                                                            href="User.aspx?ID=143684">felron</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="Asset" valign="top">
                                                        <div style="padding:5px">
                                                            <div class="AssetThumbnail">
                                                                <a id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl04_AssetThumbnailHyperLink"
                                                                    title="my tutorial on how to chat ~for newer players~"
                                                                    href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=541311"
                                                                    style="display:inline-block;cursor:pointer;"><img
                                                                        src="https://web.archive.org/web/20080824061749im_/http://t0.roblox.com:80/6a6cca6cae90d60e9166030f7bf0be54"
                                                                        
                                                                        alt="my tutorial on how to chat ~for newer players~"></a>

                                                            </div>
                                                            <div class="AssetDetails">
                                                                <div class="AssetName"><a
                                                                        id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl04_AssetNameHyperLink"
                                                                        href="Item.aspx?ID=541311">my tutorial on how to
                                                                        chat ~for newer players~</a></div>
                                                                <div class="AssetCreator"><span
                                                                        class="Label">Creator:</span> <span
                                                                        class="Detail"><a
                                                                            id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl04_AssetCreatorHyperLink"
                                                                            href="User.aspx?ID=262764">HisSonJoJo</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="Asset" valign="top">
                                                        <div style="padding:5px">
                                                            <div class="AssetThumbnail">
                                                                <a id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl05_AssetThumbnailHyperLink"
                                                                    title="Script Builder™ v2.92.158"
                                                                    href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=113456"
                                                                    style="display:inline-block;cursor:pointer;"><img
                                                                        src="https://web.archive.org/web/20080824061749im_/http://t0.roblox.com:80/0691b6d68450b266d960f4de4f4aee90"
                                                                         alt="Script Builder™ v2.92.158"></a>

                                                            </div>
                                                            <div class="AssetDetails">
                                                                <div class="AssetName"><a
                                                                        id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl05_AssetNameHyperLink"
                                                                        href="Item.aspx?ID=113456">Script Builder™
                                                                        v2.92.158</a></div>
                                                                <div class="AssetCreator"><span
                                                                        class="Label">Creator:</span> <span
                                                                        class="Detail"><a
                                                                            id="ctl00_cphRoblox_rbxFavoritesPane_FavoritesDataList_ctl05_AssetCreatorHyperLink"
                                                                            href="User.aspx?ID=9201">Anaminus</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div id="ctl00_cphRoblox_rbxFavoritesPane_FooterPagerPanel" class="FooterPager">

                                            <span id="ctl00_cphRoblox_rbxFavoritesPane_FooterPagerLabel">Page 1 of
                                                2</span>
                                            <a id="ctl00_cphRoblox_rbxFavoritesPane_FooterPageSelector_Next"
                                                href="javascript:__doPostBack('ctl00$cphRoblox$rbxFavoritesPane$FooterPageSelector_Next','')">Next
                                                <span class="NavigationIndicators">&gt;&gt;</span></a>
                                        </div>
                                    </div>
                                    <div class="PanelFooter">
                                        Category:&nbsp;
                                        <select name="ctl00$cphRoblox$rbxFavoritesPane$AssetCategoryDropDownList"
                                            id="ctl00_cphRoblox_rbxFavoritesPane_AssetCategoryDropDownList">
                                            <option value="2">T-Shirts</option>
                                            <option value="11">Shirts</option>
                                            <option value="12">Pants</option>
                                            <option value="8">Hats</option>
                                            <option value="13">Decals</option>
                                            <option value="10">Models</option>
                                            <option selected="selected" value="9">Places</option>

                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="UserAssetsPane">
                        <div id="ctl00_cphRoblox_rbxUserAssetsPane_upUserAssetsPane">

                            <div id="UserAssets">
                                <h4>Stuff</h4>
                                <div id="AssetsMenu">

                                    <div id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl00_AssetCategorySelectorPanel"
                                        class="AssetsMenuItem">
                                        <a id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl00_AssetCategorySelector"
                                            class="AssetsMenuButton"
                                            href="javascript:__doPostBack('ctl00$cphRoblox$rbxUserAssetsPane$AssetCategoryRepeater$ctl00$AssetCategorySelector','')">T-Shirts</a>
                                    </div>

                                    <div id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl01_AssetCategorySelectorPanel"
                                        class="AssetsMenuItem">
                                        <a id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl01_AssetCategorySelector"
                                            class="AssetsMenuButton"
                                            href="javascript:__doPostBack('ctl00$cphRoblox$rbxUserAssetsPane$AssetCategoryRepeater$ctl01$AssetCategorySelector','')">Shirts</a>
                                    </div>

                                    <div id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl02_AssetCategorySelectorPanel"
                                        class="AssetsMenuItem">
                                        <a id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl02_AssetCategorySelector"
                                            class="AssetsMenuButton"
                                            href="javascript:__doPostBack('ctl00$cphRoblox$rbxUserAssetsPane$AssetCategoryRepeater$ctl02$AssetCategorySelector','')">Pants</a>
                                    </div>

                                    <div id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl03_AssetCategorySelectorPanel"
                                        class="AssetsMenuItem_Selected">
                                        <a id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl03_AssetCategorySelector"
                                            class="AssetsMenuButton_Selected"
                                            href="javascript:__doPostBack('ctl00$cphRoblox$rbxUserAssetsPane$AssetCategoryRepeater$ctl03$AssetCategorySelector','')">Hats</a>
                                    </div>

                                    <div id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl04_AssetCategorySelectorPanel"
                                        class="AssetsMenuItem">
                                        <a id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl04_AssetCategorySelector"
                                            class="AssetsMenuButton"
                                            href="javascript:__doPostBack('ctl00$cphRoblox$rbxUserAssetsPane$AssetCategoryRepeater$ctl04$AssetCategorySelector','')">Decals</a>
                                    </div>

                                    <div id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl05_AssetCategorySelectorPanel"
                                        class="AssetsMenuItem">
                                        <a id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl05_AssetCategorySelector"
                                            class="AssetsMenuButton"
                                            href="javascript:__doPostBack('ctl00$cphRoblox$rbxUserAssetsPane$AssetCategoryRepeater$ctl05$AssetCategorySelector','')">Models</a>
                                    </div>

                                    <div id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl06_AssetCategorySelectorPanel"
                                        class="AssetsMenuItem">
                                        <a id="ctl00_cphRoblox_rbxUserAssetsPane_AssetCategoryRepeater_ctl06_AssetCategorySelector"
                                            class="AssetsMenuButton"
                                            href="javascript:__doPostBack('ctl00$cphRoblox$rbxUserAssetsPane$AssetCategoryRepeater$ctl06$AssetCategorySelector','')">Places</a>
                                    </div>

                                </div>
                                <div id="AssetsContent">

                                    <table id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList" cellspacing="0"
                                        >
                                        <tbody>
                                            <tr>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl00_AssetThumbnailHyperLink"
                                                                title="The Void Star"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1125510&amp;UserAssetID=2520479"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t2.roblox.com:80/4b48ab27c0144eb6f55e4333d1dc6fe1"
                                                                     alt="The Void Star"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl00_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1125510&amp;UserAssetID=2520479">The
                                                                    Void Star</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl00_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=1">ROBLOX</a></span></div>

                                                            <div class="AssetPrice"><span class="PriceInTickets">Tx:
                                                                    20,000</span></div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl01_AssetThumbnailHyperLink"
                                                                title="Bunny Ears of Caprice"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1527622&amp;UserAssetID=1274337"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t0.roblox.com:80/7203e5822bfb4adab5bb53b373ed123b"
                                                                     alt="Bunny Ears of Caprice"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl01_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1527622&amp;UserAssetID=1274337">Bunny
                                                                    Ears of Caprice</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl01_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=261">Telamon</a></span></div>


                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl02_AssetThumbnailHyperLink"
                                                                title="Bluesteel Viking Helm of Infinite Pillage"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1483632&amp;UserAssetID=1127076"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t5.roblox.com:80/69ba8c0c8cf10d4f8cb2b208ef4556db"
                                                                    
                                                                    alt="Bluesteel Viking Helm of Infinite Pillage"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl02_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1483632&amp;UserAssetID=1127076">Bluesteel
                                                                    Viking Helm of Infinite Pillage</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl02_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=1">ROBLOX</a></span></div>


                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl03_AssetThumbnailHyperLink"
                                                                title="Opened Bluesteel Gift of Long Years"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1459048&amp;UserAssetID=1060747"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t4.roblox.com:80/8ac9a76287258532efca8a9c09c3a57f"
                                                                     alt="Opened Bluesteel Gift of Long Years"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl03_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1459048&amp;UserAssetID=1060747">Opened
                                                                    Bluesteel Gift of Long Years</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl03_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=1">ROBLOX</a></span></div>


                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl04_AssetThumbnailHyperLink"
                                                                title="Flag"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1048338&amp;UserAssetID=803230"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t3.roblox.com:80/afe7ba4d1d03fbf31b9ae64f5432d517"
                                                                     alt="Flag"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl04_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1048338&amp;UserAssetID=803230">Flag</a>
                                                            </div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl04_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=1">ROBLOX</a></span></div>


                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl05_AssetThumbnailHyperLink"
                                                                title="Lump of Coal"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1290036&amp;UserAssetID=650661"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t7.roblox.com:80/32ee8dda961ec635a0674428e5ccba32"
                                                                     alt="Lump of Coal"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl05_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1290036&amp;UserAssetID=650661">Lump
                                                                    of Coal</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl05_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=261">Telamon</a></span></div>


                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl06_AssetThumbnailHyperLink"
                                                                title="Ninja Mask of Awesome"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1286496&amp;UserAssetID=641161"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t7.roblox.com:80/c6880af7abd545a44c0ec19a5d3b6bdc"
                                                                     alt="Ninja Mask of Awesome"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl06_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1286496&amp;UserAssetID=641161">Ninja
                                                                    Mask of Awesome</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl06_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=1">ROBLOX</a></span></div>


                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl07_AssetThumbnailHyperLink"
                                                                title="Buildermaster Headband"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1286495&amp;UserAssetID=637735"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t2.roblox.com:80/9cbfc2c6adcd4fafce3c74076c1c6d43"
                                                                     alt="Buildermaster Headband"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl07_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1286495&amp;UserAssetID=637735">Buildermaster
                                                                    Headband</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl07_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=1">ROBLOX</a></span></div>


                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl08_AssetThumbnailHyperLink"
                                                                title="Sparkle Time Fedora"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1285307&amp;UserAssetID=628164"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t4.roblox.com:80/2335d559878da60842b9fc682d5a872d"
                                                                     alt="Sparkle Time Fedora"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl08_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1285307&amp;UserAssetID=628164">Sparkle
                                                                    Time Fedora</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl08_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=1">ROBLOX</a></span></div>


                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl09_AssetThumbnailHyperLink"
                                                                title="Christmas Baseball Cap"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1272713&amp;UserAssetID=551676"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t3.roblox.com:80/1660ff48d1d2a1d88fc580c09a1e5bec"
                                                                     alt="Christmas Baseball Cap"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl09_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1272713&amp;UserAssetID=551676">Christmas
                                                                    Baseball Cap</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl09_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=1">ROBLOX</a></span></div>


                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl10_AssetThumbnailHyperLink"
                                                                title="Opened Bombastic Gift of Awesome"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1258151&amp;UserAssetID=522003"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t6.roblox.com:80/a19c9eb6ad9fe9c5429fd3f153dc3989"
                                                                     alt="Opened Bombastic Gift of Awesome"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl10_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1258151&amp;UserAssetID=522003">Opened
                                                                    Bombastic Gift of Awesome</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl10_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=1">ROBLOX</a></span></div>


                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl11_AssetThumbnailHyperLink"
                                                                title="Opened Azure Gift of Builder"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1258956&amp;UserAssetID=515478"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t1.roblox.com:80/33bd464e71310a76597f06f09e6a319b"
                                                                     alt="Opened Azure Gift of Builder"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl11_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1258956&amp;UserAssetID=515478">Opened
                                                                    Azure Gift of Builder</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl11_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=1">ROBLOX</a></span></div>


                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl12_AssetThumbnailHyperLink"
                                                                title="Opened Glittering Gold Gift of Fame"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1249112&amp;UserAssetID=487169"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t0.roblox.com:80/0dc6af33e8e739e5dd35569a6171092c"
                                                                     alt="Opened Glittering Gold Gift of Fame"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl12_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1249112&amp;UserAssetID=487169">Opened
                                                                    Glittering Gold Gift of Fame</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl12_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=1">ROBLOX</a></span></div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl13_AssetThumbnailHyperLink"
                                                                title="Opened Shiny Blue Gift of Niceness"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1237428&amp;UserAssetID=407527"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t4.roblox.com:80/d1896102556378467f8c0106a04bcc33"
                                                                     alt="Opened Shiny Blue Gift of Niceness"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl13_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1237428&amp;UserAssetID=407527">Opened
                                                                    Shiny Blue Gift of Niceness</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl13_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=1">ROBLOX</a></span></div>


                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="Asset" valign="top">
                                                    <div style="padding:5px">
                                                        <div class="AssetThumbnail">
                                                            <a id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl14_AssetThumbnailHyperLink"
                                                                title="Halloween Lorebook One"
                                                                href="/web/20080824061749/http://www.roblox.com/Item.aspx?ID=1193534&amp;UserAssetID=314736"
                                                                style="display:inline-block;cursor:pointer;"><img
                                                                    src="https://web.archive.org/web/20080824061749im_/http://t1.roblox.com:80/3e44f42806120289099091f2da27c07f"
                                                                     alt="Halloween Lorebook One"
                                                                    ></a>
                                                        </div>
                                                        <div class="AssetDetails">
                                                            <div class="AssetName"><a
                                                                    id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl14_AssetNameHyperLink"
                                                                    href="Item.aspx?ID=1193534&amp;UserAssetID=314736">Halloween
                                                                    Lorebook One</a></div>
                                                            <div class="AssetCreator"><span
                                                                    class="Label">Creator:</span> <span
                                                                    class="Detail"><a
                                                                        id="ctl00_cphRoblox_rbxUserAssetsPane_UserAssetsDataList_ctl14_AssetCreatorHyperLink"
                                                                        href="User.aspx?ID=1">ROBLOX</a></span></div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="ctl00_cphRoblox_rbxUserAssetsPane_FooterPagerPanel" class="FooterPager">

                                        <span id="ctl00_cphRoblox_rbxUserAssetsPane_FooterPagerLabel">Page 1 of 2</span>
                                        <a id="ctl00_cphRoblox_rbxUserAssetsPane_FooterPageSelector_Next"
                                            href="javascript:__doPostBack('ctl00$cphRoblox$rbxUserAssetsPane$FooterPageSelector_Next','')">Next
                                            <span class="NavigationIndicators">&gt;&gt;</span></a>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>


            <%- include ../partials/footer -%>
        </div>
    </form>


    <!--
     FILE ARCHIVED ON 06:17:49 Aug 24, 2008 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:37:04 Nov 22, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
</body>

</html>