<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">

<%- include(partials + '/head') %>

<body>
    <link rel="stylesheet" type="text/css" href="/Forum/skins/default/styles/default.css">



    <div id="Container">

        <%- include(partials + '/header') -%>


        <div id="Body">

            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td>

                        </td>
                    </tr>
                    <tr valign="bottom">
                        <td>
                            <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr valign="top">
                                        <!-- left column -->
                                        <td class="LeftColumn">&nbsp;&nbsp;&nbsp;</td>
                                        <td id="ctl00_cphRoblox_LeftColumn" nowrap="nowrap" width="180"
                                            class="LeftColumn">
                                            <p>
                                                <span id="ctl00_cphRoblox_SearchRedirect">

                                                </span></p>
                                            <table class="tableBorder" cellspacing="1" cellpadding="3" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <th class="tableHeaderText" align="left" colspan="2">
                                                            &nbsp;Search Roblox Forums
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td class="forumRow" align="left" valign="top" colspan="2">
                                                            <table cellspacing="1" border="0" cellpadding="2">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <input
                                                                                name="ctl00$cphRoblox$SearchRedirect$ctl00$SearchText"
                                                                                type="text" maxlength="50"
                                                                                id="ctl00_cphRoblox_SearchRedirect_ctl00_SearchText"
                                                                                size="10">
                                                                        </td>

                                                                        <td align="right" colspan="2">
                                                                            <input type="submit"
                                                                                name="ctl00$cphRoblox$SearchRedirect$ctl00$SearchButton"
                                                                                value="Search"
                                                                                id="ctl00_cphRoblox_SearchRedirect_ctl00_SearchButton">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <span class="normalTextSmall">
                                                                <br>
                                                                <a href="/Forum/Search/default.aspx">More search
                                                                    options</a>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>




                                            <br>

                                            <br>
                                            <span id="ctl00_cphRoblox_Whoisonline1">
                                                
                                            </span>
                                            <p></p>
                                        </td>

                                        <td class="LeftColumn">&nbsp;&nbsp;&nbsp;</td>
                                        <!-- center column -->
                                        <td class="CenterColumn">&nbsp;&nbsp;&nbsp;</td>
                                        <td id="ctl00_cphRoblox_CenterColumn" width="95%" class="CenterColumn">
                                            <span id="ctl00_cphRoblox_NavigationMenu2">
                                                <table width="100%" cellspacing="1" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td align="right" valign="middle">
                                                                <a id="ctl00_cphRoblox_NavigationMenu2_ctl00_HomeMenu"
                                                                    class="menuTextLink" href="/Forum/Default.aspx"><img
                                                                        src="/Forum/skins/default/images/icon_mini_home.gif"
                                                                        border="0">Home &nbsp;</a>
                                                                <a id="ctl00_cphRoblox_NavigationMenu2_ctl00_SearchMenu"
                                                                    class="menuTextLink"
                                                                    href="/Forum/Search/default.aspx"><img
                                                                        src="/Forum/skins/default/images/icon_mini_search.gif"
                                                                        border="0">Search &nbsp;</a>


                                                                <a id="ctl00_cphRoblox_NavigationMenu2_ctl00_RegisterMenu"
                                                                    class="menuTextLink"
                                                                    href="/Forum/User/CreateUser.aspx"><img
                                                                        src="/Forum/skins/default/images/icon_mini_register.gif"
                                                                        border="0">Register &nbsp;</a>




                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </span>
                                            <br>
                                            <table cellpadding="0" cellspacing="2" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td align="left">
                                                            <span class="normalTextSmallBold">Current time: </span><span
                                                                class="normalTextSmall">Jul 25, 2008 10:04 PM</span>
                                                        </td>
                                                        <td align="right">

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table cellpadding="2" cellspacing="1" border="0" width="100%"
                                                class="tableBorder">
                                                <tbody>
                                                    <tr>
                                                        <th class="tableHeaderText" colspan="2" height="20">Forum</th>
                                                        <th class="tableHeaderText" width="50" nowrap="nowrap">
                                                            &nbsp;&nbsp;Threads&nbsp;&nbsp;</th>
                                                        <th class="tableHeaderText" width="50" nowrap="nowrap">
                                                            &nbsp;&nbsp;Posts&nbsp;&nbsp;</th>
                                                        <th class="tableHeaderText" width="135" nowrap="nowrap">
                                                            &nbsp;Last Post&nbsp;</th>
                                                    </tr>
                                                    
                                                    <% 
                                                        function formatNum(n) {
                                                            return n.toLocaleString()
                                                        }
                                                    %>

                                                    <% for( let group of forum ) { %>
                                                        <tr id="ctl00_cphRoblox_ForumGroupRepeater1_ctl01_ForumGroup">
                                                            <td class="forumHeaderBackgroundAlternate" colspan="5"
                                                                height="20"><a
                                                                    id="ctl00_cphRoblox_ForumGroupRepeater1_ctl01_GroupTitle"
                                                                    class="forumTitle"
                                                                    href="/Forum/ShowForumGroup.aspx?ForumGroupID=<%= group.id %> "><%= group.name %></a>
                                                            </td>
                                                        </tr>
                                                        <% for( let subforum of group.forums ) { %>
                                                            <tr>
                                                                <td class="forumRow" align="center" valign="top" width="34"
                                                                    nowrap="nowrap"><img
                                                                        src="/Forum/skins/default/images/forum_status.gif"
                                                                        width="34" border="0"></td>
                                                                <td class="forumRow" width="80%"><a class="forumTitle"
                                                                        href="/Forum/ShowForum.aspx?ForumID=<%= subforum.id %>"><%= subforum.name %></a>
                                                                        <span class="normalTextSmall"><br><%= subforum.description %></span></td>
                                                                <td class="forumRowHighlight" align="center"><span
                                                                        class="normalTextSmaller"><%= formatNum(subforum.threads) %></span></td>
                                                                <td class="forumRowHighlight" align="center"><span
                                                                        class="normalTextSmaller"><%= formatNum(subforum.posts) %></span></td>
                                                                <td class="forumRowHighlight" align="center"><span
                                                                        class="normalTextSmaller"><span><b>Today @ <% const date = new Date(subforum.lastpost.postdate) %><%= date.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %>
                                                                            </b></span></span><br><span
                                                                        class="normalTextSmaller">by <a
                                                                            href="/Forum/User/UserProfile.aspx?UserName=<%= subforum.lastpost.authorid %>"><%= subforum.lastpost.authorid %></a><a
                                                                            href="/Forum/ShowPost.aspx?PostID=<%= subforum.lastpost.parentthread %>#<%= subforum.lastpost.postid %>"><img
                                                                                border="0"
                                                                                src="/Forum/skins/default/images/icon_mini_topic.gif"></a></span>
                                                                </td>
                                                            </tr>
                                                        <% } %>
                                                    <% } %>
                                                
                                                </tbody>
                                            </table>
                                            <p></p>
                                        </td>

                                        <td class="CenterColumn">&nbsp;&nbsp;&nbsp;</td>
                                        <!-- right margin -->
                                        <td class="RightColumn">&nbsp;&nbsp;&nbsp;</td>

                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <%- include(partials + '/footer') -%>
</body>

</html>