<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">

<%- include(partials + '/head') %>

<body>
    <link rel="stylesheet" type="text/css" href="/Forum/skins/default/styles/default.css">
    <script src="/username.js"></script>


    <div id="Container">

        <%- include(partials + '/header') -%>


        <div id="Body">

            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td>
                        </td>
                    </tr>
                    <tr valign="bottom">
                        <td>
                            <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr valign="top">
                                        <!-- left column -->
                                        <td>&nbsp; &nbsp; &nbsp;</td>
                                        <!-- center column -->
                                        <td id="ctl00_cphRoblox_CenterColumn" width="95%" class="CenterColumn">
                                            <br>
                                            <span id="ctl00_cphRoblox_Navigationmenu1">
                                                <table width="100%" cellspacing="1" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td align="right" valign="middle">
                                                                <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_HomeMenu"
                                                                    class="menuTextLink"
                                                                    href="/Forum/Default.aspx"><img
                                                                        src="/Forum/skins/default/images/icon_mini_home.gif"
                                                                        border="0">Home &nbsp;</a>
                                                                <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_SearchMenu"
                                                                    class="menuTextLink"
                                                                    href="/Forum/Search/default.aspx"><img
                                                                        src="/Forum/skins/default/images/icon_mini_search.gif"
                                                                        border="0">Search &nbsp;</a>


                                                                <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_RegisterMenu"
                                                                    class="menuTextLink"
                                                                    href="/Forum/User/CreateUser.aspx"><img
                                                                        src="/Forum/skins/default/images/icon_mini_register.gif"
                                                                        border="0">Register &nbsp;</a>




                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </span>
                                            <span id="ctl00_cphRoblox_PostView1">
                                                <table cellpadding="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" colspan="2"><span
                                                                    id="ctl00_cphRoblox_PostView1_ctl00_Whereami1"
                                                                    name="Whereami1">
                                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top" align="left"
                                                                                    width="1px">
                                                                                    <nobr>

                                                                                    </nobr>
                                                                                </td>
                                                                                <td id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_ForumGroupMenu"
                                                                                    class="popupMenuSink" valign="top"
                                                                                    align="left" width="1px">
                                                                                    <nobr>

                                                                                        <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_LinkForumGroup"
                                                                                            class="linkMenuSink"
                                                                                            href="/Forum/ShowForumGroup.aspx?ForumGroupID=4">Help
                                                                                            Center</a>
                                                                                    </nobr>
                                                                                </td>

                                                                                <td id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_ForumMenu"
                                                                                    class="popupMenuSink" valign="top"
                                                                                    align="left" width="1px">
                                                                                    <nobr>
                                                                                        <span
                                                                                            id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_ForumSeparator"
                                                                                            class="normalTextSmallBold">&nbsp;&gt;</span>
                                                                                        <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_LinkForum"
                                                                                            class="linkMenuSink"
                                                                                            href="/Forum/ShowForum.aspx?ForumID=28">ROBLOX
                                                                                            Testing</a>
                                                                                    </nobr>
                                                                                </td>

                                                                                <td id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_PostMenu"
                                                                                    class="popupMenuSink" valign="top"
                                                                                    align="left" width="1px">
                                                                                    <nobr>
                                                                                        <span
                                                                                            id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_PostSeparator"
                                                                                            class="normalTextSmallBold">&nbsp;&gt;</span>
                                                                                        <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_LinkPost"
                                                                                            class="linkMenuSink"
                                                                                            href="/Forum/ShowPost.aspx?PostID=2419062">Test
                                                                                            website blocked by mcafee!
                                                                                            MODS READ THIS</a>
                                                                                    </nobr>
                                                                                </td>

                                                                                <td valign="top" align="left" width="*">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                    <span
                                                                        id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_MenuScript"></span>
                                                                </span></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" colspan="2">&nbsp;
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2">
                                                                <table id="ctl00_cphRoblox_PostView1_ctl00_PostList"
                                                                    class="tableBorder" cellspacing="1" cellpadding="0"
                                                                    border="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="forumHeaderBackgroundAlternate"
                                                                                colspan="2" height="20">
                                                                                <table cellspacing="0" cellpadding="0"
                                                                                    border="0" width="100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="left"></td>
                                                                                            <td align="right"><a
                                                                                                    id="ctl00_cphRoblox_PostView1_ctl00_PostList_ctl00_PreviousThread"
                                                                                                    class="linkSmallBold"
                                                                                                    href="javascript:__doPostBack('ctl00$cphRoblox$PostView1$ctl00$PostList$ctl00$PreviousThread','')">Previous
                                                                                                    Thread</a>&nbsp;<span
                                                                                                    class="normalTextSmallBold">::</span>&nbsp;<a
                                                                                                    id="ctl00_cphRoblox_PostView1_ctl00_PostList_ctl00_NextThread"
                                                                                                    class="linkSmallBold"
                                                                                                    href="javascript:__doPostBack('ctl00$cphRoblox$PostView1$ctl00$PostList$ctl00$NextThread','')">Next
                                                                                                    Thread</a>&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="tableHeaderText" align="left"
                                                                                height="25" width="100">&nbsp;Author
                                                                            </th>
                                                                            <th class="tableHeaderText" align="left"
                                                                                width="85%">&nbsp;Thread: <%= posts[0].postsubject %></th>
                                                                        </tr>
                                                                        <% for( let i = 0; i < posts.length; i++ ) { 
                                                                            let post = posts[i]
                                                                            let postClass = i % 2 == 0 ? "forumRow" : "forumAlternate"
                                                                            %>
                                                                            <tr>
                                                                                <td class="<%= postClass %>" valign="top"
                                                                                    width="150" nowrap="nowrap">
                                                                                    <table border="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td><img src="/Forum/skins/default/images/user_IsOffline.gif"
                                                                                                        alt="Ermineboy is not online. Last active: 8/31/2008 9:38:46 AM"
                                                                                                        border="0">&nbsp;<a
                                                                                                        class="normalTextSmallBold"
                                                                                                        href="/User.aspx?username=ermineboy"><username id="<%= post.authorid %>"></username></a><br>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><a
                                                                                                        href="/User.aspx?username=ermineboy"><img
                                                                                                            src="/Thumbs/Avatar.ashx?x=64&amp;y=64&amp;format=Png&amp;username=ermineboy"
                                                                                                            border="0"></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><span
                                                                                                        class="normalTextSmaller"><b>Joined:</b>
                                                                                                        18 Feb 2008</span>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><span
                                                                                                        class="normalTextSmaller"><b>Total
                                                                                                            Posts:
                                                                                                        </b>460</span></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>&nbsp;</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td class="<%= postClass %>" valign="top">
                                                                                    <table cellspacing="0" cellpadding="3"
                                                                                        border="0" width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td
                                                                                                    class="forumRowHighlight">
                                                                                                    <span
                                                                                                        class="normalTextSmallBold"><%= posts[0].postsubject %><a
                                                                                                            name="2419062"></a></span><a
                                                                                                        name="2419062"><br><span
                                                                                                            class="normalTextSmaller">
                                                                                                            Posted:
                                                                                                        </span><span
                                                                                                            class="normalTextSmaller"><%= formatDate(post.postdate) %></span></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="2"><span
                                                                                                        class="normalTextSmall"><%= post.postbody %></span>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="2"><span
                                                                                                        class="normalTextSmaller"></span>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td height="2"></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="2"><a
                                                                                                        href="/Forum/AddPost.aspx?PostID=2631398&amp;mode=flat"><img
                                                                                                            border="0"
                                                                                                            src="/Forum/skins/default/images/newpost.gif"></a><a
                                                                                                        href="#">Report
                                                                                                        Abuse</a></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        <% } %>
                                                                    
                                                                        <tr>
                                                                            <td class="forumHeaderBackgroundAlternate"
                                                                                colspan="2" height="20">
                                                                                <table cellspacing="0" cellpadding="0"
                                                                                    border="0" width="100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="left"></td>
                                                                                            <td align="right"><a
                                                                                                    id="ctl00_cphRoblox_PostView1_ctl00_PostList_ctl26_PreviousThread"
                                                                                                    class="linkSmallBold"
                                                                                                    href="javascript:__doPostBack('ctl00$cphRoblox$PostView1$ctl00$PostList$ctl26$PreviousThread','')">Previous
                                                                                                    Thread</a>&nbsp;<span
                                                                                                    class="normalTextSmallBold">::</span>&nbsp;<a
                                                                                                    id="ctl00_cphRoblox_PostView1_ctl00_PostList_ctl26_NextThread"
                                                                                                    class="linkSmallBold"
                                                                                                    href="javascript:__doPostBack('ctl00$cphRoblox$PostView1$ctl00$PostList$ctl26$NextThread','')">Next
                                                                                                    Thread</a>&nbsp;
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table><span
                                                                    id="ctl00_cphRoblox_PostView1_ctl00_Pager">
                                                                    <script>
                                                                        function goto(page) {
                                                                            if ('URLSearchParams' in window) {
                                                                                var searchParams = new URLSearchParams(window.location.search);
                                                                                searchParams.set("page", page);
                                                                                window.location.search = searchParams.toString();
                                                                            }
                                                                        }
                                                                    </script>
                                                                    <table cellspacing="0" cellpadding="0" border="0"
                                                                        width="100%">
                                                                        <tbody>

                                                                            <tr>
                                                                                <td><span
                                                                                        class="normalTextSmallBold">Page
                                                                                        <%= page + 1 %> of <%= pages + 1 %></span></td>
                                                                                <td align="right"><span><span
                                                                                            class="normalTextSmallBold">Goto
                                                                                            to page: </span>
                                                                                        
                                                                                        <% for (let index = 1; index <= pages + 1; index++) { 
                                                                                            if (index - 1 == page) { %>
                                                                                                <span
                                                                                                    class="normalTextSmallBold">[<%= index %>]</span>
                                                                                            
                                                                                            <% } else { %>
                                                                                                <a
                                                                                                id="ctl00_cphRoblox_PostView1_ctl00_Pager_Page1"
                                                                                                class="normalTextSmallBold"
                                                                                                href="javascript:goto(<%= index - 1 %>)"><%= index %></a>
                                                                                            <% } %>

                                                                                            <% if (index != pages + 1) { %>
                                                                                                <span
                                                                                                    class="normalTextSmallBold">,
                                                                                                </span>
                                                                                            <% } %>
                                                                                        <% } %>

                                                                                        
                                                                                        
                                                                                            <span
                                                                                            class="normalTextSmallBold">&nbsp;</span>
                                                                                        <% if (page != pages) { %>
                                                                                        <a
                                                                                            id="ctl00_cphRoblox_PostView1_ctl00_Pager_Next"
                                                                                            class="normalTextSmallBold"
                                                                                            href="javascript:goto(<%= page + 1 %>">Next</a></span>
                                                                                        <% } %>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" colspan="2">

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" colspan="2">
                                                                <span id="ctl00_cphRoblox_PostView1_ctl00_Whereami2"
                                                                    name="Whereami2">
                                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top" align="left"
                                                                                    width="1px">
                                                                                    <nobr>
                                                                                        <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_LinkHome"
                                                                                            class="linkMenuSink"
                                                                                            href="/Forum/Default.aspx">ROBLOX
                                                                                            Forum</a>
                                                                                    </nobr>
                                                                                </td>
                                                                                <td id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_ForumGroupMenu"
                                                                                    class="popupMenuSink" valign="top"
                                                                                    align="left" width="1px">
                                                                                    <nobr>
                                                                                        <span
                                                                                            id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_ForumGroupSeparator"
                                                                                            class="normalTextSmallBold">&nbsp;&gt;</span>
                                                                                        <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_LinkForumGroup"
                                                                                            class="linkMenuSink"
                                                                                            href="/Forum/ShowForumGroup.aspx?ForumGroupID=4">Help
                                                                                            Center</a>
                                                                                    </nobr>
                                                                                </td>

                                                                                <td id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_ForumMenu"
                                                                                    class="popupMenuSink" valign="top"
                                                                                    align="left" width="1px">
                                                                                    <nobr>
                                                                                        <span
                                                                                            id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_ForumSeparator"
                                                                                            class="normalTextSmallBold">&nbsp;&gt;</span>
                                                                                        <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_LinkForum"
                                                                                            class="linkMenuSink"
                                                                                            href="/Forum/ShowForum.aspx?ForumID=28">ROBLOX
                                                                                            Testing</a>
                                                                                    </nobr>
                                                                                </td>

                                                                                <td id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_PostMenu"
                                                                                    class="popupMenuSink" valign="top"
                                                                                    align="left" width="1px">
                                                                                    <nobr>
                                                                                        <span
                                                                                            id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_PostSeparator"
                                                                                            class="normalTextSmallBold">&nbsp;&gt;</span>
                                                                                        <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_LinkPost"
                                                                                            class="linkMenuSink"
                                                                                            href="/Forum/ShowPost.aspx?PostID=2419062">Test
                                                                                            website blocked by mcafee!
                                                                                            MODS READ THIS</a>
                                                                                    </nobr>
                                                                                </td>

                                                                                <td valign="top" align="left" width="*">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                    <span
                                                                        id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_MenuScript"></span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </span>
                                        </td>

                                        <td class="CenterColumn">&nbsp;&nbsp;&nbsp;</td>
                                        <!-- right margin -->
                                        <td class="RightColumn">&nbsp;&nbsp;&nbsp;</td>

                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <%- include(partials + '/footer') -%>
</body>

</html>