<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">

<%- include(partials + '/head') %>

<body>
    <link rel="stylesheet" type="text/css" href="/Forum/skins/default/styles/default.css">
    <script src="/username.js"></script>     
    

        <div id="Container">

            <%- include(partials + '/header') -%>



            <div id="Body">
                <table width="100%" cellspacing="0" cellpadding="0" >
                    <tbody>
                        <tr>
                            <td>
                            </td>
                        </tr>
                        <tr >
                            <td>
                                <table width="100%" height="100%" cellspacing="0" cellpadding="0" >
                                    <tbody>
                                        <tr >
                                            <!-- left column -->
                                            <td>&nbsp; &nbsp; &nbsp;</td>
                                            <!-- center column -->
                                            <td id="ctl00_cphRoblox_CenterColumn" width="95%" class="CenterColumn">
                                                <br>
                                                <span id="ctl00_cphRoblox_Navigationmenu1">
                                                    <table width="100%" cellspacing="1" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td  >
                                                                    <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_HomeMenu"
                                                                        class="menuTextLink"
                                                                        href="/Forum/Default.aspx"><img
                                                                            src="/Forum/skins/default/images/icon_mini_home.gif"
                                                                            >Home &nbsp;</a>
                                                                    <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_SearchMenu"
                                                                        class="menuTextLink"
                                                                        href="/Forum/Search/default.aspx"><img
                                                                            src="/Forum/skins/default/images/icon_mini_search.gif"
                                                                            >Search &nbsp;</a>
            
            
                                                                    <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_RegisterMenu"
                                                                        class="menuTextLink"
                                                                        href="/Forum/User/CreateUser.aspx"><img
                                                                            src="/Forum/skins/default/images/icon_mini_register.gif"
                                                                            >Register &nbsp;</a>
            
            
            
            
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </span>
                                                <span id="ctl00_cphRoblox_Whereami1">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td   width="1px">
                                                                    <nobr>
            
                                                                    </nobr>
                                                                </td>
                                                                <td id="ctl00_cphRoblox_Whereami1_ctl00_ForumGroupMenu"
                                                                    class="popupMenuSink"   width="1px">
                                                                    <nobr>
            
                                                                        <a id="ctl00_cphRoblox_Whereami1_ctl00_LinkForumGroup"
                                                                            class="linkMenuSink"
                                                                            href="/Forum/ShowForumGroup.aspx?ForumGroupID=<%= group.id %>"><%= group.name %></a>
                                                                    </nobr>
                                                                </td>
            
                                                                <td id="ctl00_cphRoblox_Whereami1_ctl00_ForumMenu"
                                                                    class="popupMenuSink"   width="1px">
                                                                    <nobr>
            
            
                                                                    </nobr>
                                                                </td>
            
                                                                <td id="ctl00_cphRoblox_Whereami1_ctl00_PostMenu"
                                                                    class="popupMenuSink"   width="1px">
                                                                    <nobr>
            
            
                                                                    </nobr>
                                                                </td>
            
                                                                <td   width="*">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
            
                                                    <span id="ctl00_cphRoblox_Whereami1_ctl00_MenuScript"></span>
                                                </span>
                                                <p>
                                                </p>
                                                <table cellpadding="2" cellspacing="1"  width="100%" class="tableBorder">
                                                    <tbody>
                                                        <tr>
                                                            <th class="tableHeaderText" colspan="2" height="20">Forum</th>
                                                            <th class="tableHeaderText" width="50" nowrap="nowrap">
                                                                &nbsp;&nbsp;Threads&nbsp;&nbsp;</th>
                                                            <th class="tableHeaderText" width="50" nowrap="nowrap">
                                                                &nbsp;&nbsp;Posts&nbsp;&nbsp;</th>
                                                            <th class="tableHeaderText" width="135" nowrap="nowrap">&nbsp;Last
                                                                Post&nbsp;</th>
                                                        </tr>

                                                        <tr id="ctl00_cphRoblox_Forumgrouprepeater1_ctl01_ForumGroup">
                                                            <td class="forumHeaderBackgroundAlternate" colspan="5" height="20"><a
                                                                    id="ctl00_cphRoblox_Forumgrouprepeater1_ctl01_GroupTitle"
                                                                    class="forumTitle"
                                                                    href="/Forum/ShowForumGroup.aspx?ForumGroupID=<%= group.id %>"><%= group.name %></a></td>
                                                        </tr>
                                                        <% for (let subforum of group.forums) { %>
                                                            <tr>
                                                                <td class="forumRow"   width="34"
                                                                    nowrap="nowrap"><img
                                                                        src="/Forum/skins/default/images/forum_status.gif"
                                                                        width="34" ></td>
                                                                <td class="forumRow" width="80%"><a class="forumTitle"
                                                                        href="/Forum/ShowForum.aspx?ForumID=<%= subforum.id %>"><%= subforum.name %></a>
                                                                        <span class="normalTextSmall"><br><%= subforum.description %></span></td>
                                                                <td class="forumRowHighlight" ><span
                                                                        class="normalTextSmaller"><%= formatNum(subforum.threads) %></span></td>
                                                                <td class="forumRowHighlight" ><span
                                                                        class="normalTextSmaller"><%= formatNum(subforum.posts) %></span></td>
                                                                <td class="forumRowHighlight" ><span
                                                                        class="normalTextSmaller"><span><%- formatRelativeDate(subforum.lastpost.postdate) %></span></span><br><span
                                                                        class="normalTextSmaller">by <a
                                                                        href="/Forum/User/UserProfile.aspx?UserName=<%= subforum.lastpost.authorid %>"><username id="<%= subforum.lastpost.authorid %>"></username></a><a
                                                                        href="/Forum/ShowPost.aspx?PostID=<%= subforum.lastpost.parentthread %>#<%= subforum.lastpost.postid %>"><img
                                                                            border="0"
                                                                            src="/Forum/skins/default/images/icon_mini_topic.gif"></a></span>
                                                                </td>
                                                            </tr>
                                                        <% } %>
                                        
                                                    </tbody>
                                                </table>
                                                <p>
                                                    <span id="ctl00_cphRoblox_Whereami2">
                                                    </span></p>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td   width="1px">
                                                                <nobr>
                                                                    <a id="ctl00_cphRoblox_Whereami2_ctl00_LinkHome"
                                                                        class="linkMenuSink"
                                                                        href="/Forum/Default.aspx">ROBLOX
                                                                        Forum</a>
                                                                </nobr>
                                                            </td>
                                                            <td id="ctl00_cphRoblox_Whereami2_ctl00_ForumGroupMenu"
                                                                class="popupMenuSink"   width="1px">
                                                                <nobr>
                                                                    <span id="ctl00_cphRoblox_Whereami2_ctl00_ForumGroupSeparator"
                                                                        class="normalTextSmallBold">&nbsp;&gt;</span>
                                                                    <a id="ctl00_cphRoblox_Whereami2_ctl00_LinkForumGroup"
                                                                        class="linkMenuSink"
                                                                        href="/Forum/ShowForumGroup.aspx?ForumGroupID=<%= group.id %>"><%= group.name %></a>
                                                                </nobr>
                                                            </td>
            
                                                            <td id="ctl00_cphRoblox_Whereami2_ctl00_ForumMenu" class="popupMenuSink"
                                                                  width="1px">
                                                                <nobr>
            
            
                                                                </nobr>
                                                            </td>
            
                                                            <td id="ctl00_cphRoblox_Whereami2_ctl00_PostMenu" class="popupMenuSink"
                                                                  width="1px">
                                                                <nobr>
            
            
                                                                </nobr>
                                                            </td>
            
                                                            <td   width="*">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
            
                                                <span id="ctl00_cphRoblox_Whereami2_ctl00_MenuScript"></span>
                                                <p></p>
                                            </td>
            
                                            <td class="CenterColumn">&nbsp;&nbsp;&nbsp;</td>
                                            <!-- right margin -->
                                            <td class="RightColumn">&nbsp;&nbsp;&nbsp;</td>
            
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            
            </div>

            <%- include(partials + '/footer') -%>
</body>

</html>

